.leaflet-bottom {
    justify-content: center !important;
    display: flex !important;
    width: -webkit-fill-available !important;
  }
  .leaflet-control-playback {
    display: flex !important;
  }